<div id="about" class="about-container padding">
    <div class="row">
        <img src="assets/img/profile-picture.jpg">
        <div class="about-headline">
            <h1>About me.</h1>
            <span>"I'm an analytic person who loves challenging tasks"</span>
        </div>
    </div>
    <div class="divide-sections"></div>
    <div class="row">
        <div class="icon-container column">
            <div class="about-icons"><img src="assets/img/walk-line.png"></div>
            <h3>MY JOURNEY BEGAN</h3>
            <p>As a Quality Manager Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum in ratione sequi non
                architecto placeat, veritatis fugit repellendus? Quod accusamus ducimus assumenda perspiciatis quibusdam
                aliquam eaque dolor dignissimos quidem laboriosam!...</p>
        </div>
        <div class="icon-container column">
            <div class="about-icons"><img src="assets/img/heart-line.png"></div>
            <h3>MY JOURNEY BEGAN</h3>
            <p>As a Quality Manager Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum in ratione sequi non
                architecto placeat, veritatis fugit repellendus? Quod accusamus ducimus assumenda perspiciatis quibusdam
                aliquam eaque dolor dignissimos quidem laboriosam!...</p>
        </div>
        <div class="icon-container column">
            <div class="about-icons"><img src="assets/img/search-line.png"></div>
            <h3>MY JOURNEY BEGAN</h3>
            <p>As a Quality Manager Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum in ratione sequi non
                architecto placeat, veritatis fugit repellendus? Quod accusamus ducimus assumenda perspiciatis quibusdam
                aliquam eaque dolor dignissimos quidem laboriosam!...</p>
        </div>
        <div class="icon-container column">
            <div class="about-icons"><img src="assets/img/flight-takeoff-line.png"></div>
            <h3>MY JOURNEY BEGAN</h3>
            <p>As a Quality Manager Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum in ratione sequi non
                architecto placeat, veritatis fugit repellendus? Quod accusamus ducimus assumenda perspiciatis quibusdam
                aliquam eaque dolor dignissimos quidem laboriosam!...</p>
        </div>
    </div>
</div>