<div id="contact" class="contact-container">
    <h2>Contact me.</h2>
    <span>Get in touch via the form below or by emailing <a href="#">alexander.baraev95@gmail.com</a></span>

    <form>
        <div class="form-input">
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Enter your name">
        </div>
        <div class="form-input">
            <label for="email">Email address</label>
            <input type="text" id="email" placeholder="Enter your Email address">
        </div>
        <div class="form-input">
            <label for="text">Message</label>
            <textarea name="" id="text" cols="30" rows="10" placeholder="Enter your message"></textarea>
        </div>
        <button>Send</button>
    </form>
</div>